<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookGen.WebGui</title>
    <link rel="stylesheet" href="bootstrap.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">BookGen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Browse">Browse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/FormulaEditor">Formula editor</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">BookGen</p>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="/Document?doc=Commands">Commands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="/Document?doc=ChangeLog">Change Log</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="/Document?doc=ReleaseNotes">Release Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 text-body-secondary" href="/Document?doc=MarkdownCheatsheet">Markdown Cheatsheet</a>
            </li>
        </ul>
    </footer>

    <script type="text/javascript" src="bootstrap.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>