@page
@model BookGen.WebGui.Pages.PreviewModel
@{
    ViewData["Title"] = $"Preview of {Model.FileName}";
}
<h1>Preview of @Model.FileName</h1>
<hr />
@if (Model.IsMarkdown)
{
    @Html.Raw(Model.Text)
    ;
}
else
{
    <pre><code>@Model.Text</code></pre>
}