<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookGen.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BookGen.Editor.Properties.Settings>
            <setting name="Editor_ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Editor_WordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Editor_ShowSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Editor_ShowTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Editor_ShowLineEndings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Editor_ShowColumnRuler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Editor_ScrollBelowDocument" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Editor_SpellCheckLanguage" serializeAs="String">
                <value />
            </setting>
        </BookGen.Editor.Properties.Settings>
    </userSettings>
</configuration>