@page
@model BookGen.WebGui.Pages.FormulaEditorModel
@{
}
<script type="text/javascript" src="tex-svg-full.js" id="MathJax-script" async></script>
<script type="text/javascript">
    function convert() {
        var input = document.getElementById("input").value.trim();
        var button = document.getElementById("render");
        output = document.getElementById('output');
        output.innerHTML = '';
        MathJax.texReset();
        var options = MathJax.getMetricsFor(output);
        options.display = true;
        MathJax.tex2svgPromise(input, options).then(function (node) {
            output.appendChild(node);
            MathJax.startup.document.clear();
            MathJax.startup.document.updateDocument();
        }).catch(function (err) {
            output.appendChild(document.createElement('pre')).appendChild(document.createTextNode(err.message));
        }).then(function () {
            button.disabled = false;
        });
    }
    window.onload = convert;
</script>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <textarea style="width: 100%; font-family: monospace;" rows="10" id="input">x = {-b \pm \sqrt{b^2-4ac} \over 2a}.</textarea>
            <hr />
            <button type="button" id="render" onclick="convert()" class="btn btn-primary">Render TeX</button>
        </div>
        <div class="col-6 col-md-4">
            <div id="output" class="text-center"></div>
        </div>
    </div>
</div>