@media all {
    body {
        max-width: 1200px;
        text-align: justify;
        font-size: 16px;
        margin: 2em auto;
        line-height: 1.4;
        font-family: Open Sans,Arial;
        color: #454545;
    }

    img {
        margin: 0px auto;
        max-width: 1200px;
        display: block;
    }

    table {
        width: 100%;
    }

    p code {
        color: #dd4a68;
    }
}
@media print {
    body {
        color: black;
        background: white;
    }
    p, pre, code, table {
        break-inside: avoid;
    }
}