<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookGen.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BookGen.Launcher.Properties.Settings>
            <setting name="UseWindowsTerminal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoExitLauncher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewsLastSeen" serializeAs="String">
                <value>1991-01-01</value>
            </setting>
        </BookGen.Launcher.Properties.Settings>
    </userSettings>
</configuration>